
INJECTOR   = Injector
IJAGENT    = libijagent.so
LIBINJECTOR= libinjector.so
AGENT      = libagent.so
SPSERVER   = SpServer

all: $(LIBINJECTOR) $(INJECTOR) $(IJAGENT) $(AGENT) $(SPSERVER)
#all: $(LIBINJECTOR) $(IJAGENT) $(AGENT) $(SPSERVER)

GCC        = gcc
GXX        = g++
RM         = rm -f

#======================================
# Injector
#======================================
IJ_SRCS    += $(IJ_DIR)/SpInjector.C

IJ_OBJS    += $(notdir $(IJ_SRCS:%.C=%.o))

IJMAIN_SRCS    += $(IJ_DIR)/SpInjectorMain.C

IJMAIN_OBJS    += $(notdir $(IJMAIN_SRCS:%.C=%.o))

IJA_SRCS   += $(IJ_DIR)/IjAgent.c \

IJA_OBJS   += $(notdir $(IJA_SRCS:%.c=%.o))

IJ_DEP  = .IJ_DEPENDS
IJ_DEPS:
	$(GXX) -MM $(IJ_IFLAGS) $(IJ_FLAGS) $(IJ_SRCS) > $(IJ_DEP)
include $(IJ_DEP)

$(IJ_OBJS): %.o : $(IJ_SRCS)
	@echo Compiling $*.o
	@$(GXX) -c -o $@ $(IJ_IFLAGS) $(IJ_FLAGS) $(IJ_DIR)/$*.C

$(LIBINJECTOR): $(IJ_OBJS)
	@echo Linking $@
	@$(GXX) -o $@ $(IJ_OBJS) $(IJ_LDFLAGS)

$(IJMAIN_OBJS): %.o : $(IJMAIN_SRCS)
	@echo Compiling $*.o
	@$(GXX) -c -o $@ $(IJ_IFLAGS) $(IJ_FLAGS) $(IJ_DIR)/$*.C

$(INJECTOR): $(IJMAIN_OBJS)
	@echo Linking $@
	@$(GXX) -o $@ $(IJMAIN_OBJS) $(IJMAIN_LDFLAGS) $(IJ_LDFLAGS)

$(IJA_OBJS): %.o : $(IJA_SRCS)
	@echo Compiling $*.o
	@$(GCC) -c -o $@ $(IJA_IFLAGS) $(IJA_FLAGS) $(IJ_DIR)/$*.c

$(IJAGENT): $(IJA_OBJS)
	@echo Linking $@
	@$(GCC) -o $@ $(IJA_OBJS) $(IJA_LDFLAGS)

#======================================
# Agent
#======================================
AG_SRCS    += $(AG_DIR)/SpAgent.C \
              $(AG_DIR)/SpParser.C \
              $(AG_DIR)/SpEvent.C \
              $(AG_DIR)/SpPropeller.C \
              $(AG_DIR)/SpPayload.C \
              $(AG_DIR)/SpContext.C \
              $(AG_DIR)/SpInstrumenter.C \
              $(AG_DIR)/SpAddrSpace.C \
              $(AG_DIR)/SpSnippet.C \
              $(AG_DIR)/SpUtils.C \
              $(AG_DIR)/SpIpcMgr.C \

AG_OBJS    += $(notdir $(AG_SRCS:%.C=%.o))

AG_DEP  = .AG_DEPENDS
AG_DEPS:
	$(GXX) -MM $(AG_IFLAGS) $(AG_FLAGS) $(AG_SRCS) > $(AG_DEP)
include $(AG_DEP)

$(AG_OBJS): %.o : $(AG_SRCS)
	@echo Compiling $*.o
	@$(GXX) -c -o $@ $(AG_IFLAGS) $(AG_FLAGS) $(AG_DIR)/$*.C

$(AGENT): $(AG_OBJS)
	@echo Linking $@
	@$(GXX) -o $@  $(AG_OBJS) $(AG_LDFLAGS)

#======================================
# SpServer
#======================================
SERVER_SRCS    += $(SERVER_DIR)/SpServer.C \
                  $(SERVER_DIR)/SpPipe.C \
                  $(SERVER_DIR)/SpTCP.C \
                  $(SERVER_DIR)/SpUDP.C

SERVER_OBJS    += $(notdir $(SERVER_SRCS:%.C=%.o))

SERVER_DEP  = .SERVER_DEPENDS
SERVER_DEPS:
	$(GXX) -MM $(SERVER_IFLAGS) $(SERVER_FLAGS) $(SERVER_SRCS) > $(SERVER_DEP)
include $(SERVER_DEP)

$(SERVER_OBJS): %.o : $(SERVER_SRCS)
	@echo Compiling $*.o
	@$(GXX) -c -o $@ $(SERVER_IFLAGS) $(SERVER_FLAGS) $(SERVER_DIR)/$*.C

$(SPSERVER): $(SERVER_OBJS)
	@echo Linking $@
	@$(GXX) -o $@ $(SERVER_OBJS) $(SERVER_LDFLAGS) $(AG_LDFLAGS)

#=================================================
# clean
#=================================================
clean_objs:
	$(RM) *.o

clean:
	$(RM) $(INJECTOR) $(AGENT) $(IJAGENT) $(SPSERVER) $(LIBINJECTOR) *.o
	make IJ_DEPS
	make AG_DEPS
	make SERVER_DEPS

