#=================================================
# For COMMON
#=================================================

COMMON_FLAGS     = -fPIC

COMMON_IFLAGS     = -I$(SP_DIR)/h
COMMON_IFLAGS    += -I$(DYNINST_DIR)
COMMON_IFLAGS    += -I$(DYNINST_DIR)/common/h
COMMON_IFLAGS    += -I$(DYNINST_DIR)/dynutil/h
COMMON_IFLAGS    += -I$(DYNINST_DIR)/symtabAPI/h

COMMON_LDFLAGS   += -lpthread

#=================================================
# For Injector
#=================================================

IJ_DIR      = $(SP_DIR)/src/Injector

IJ_FLAGS   += $(COMMON_FLAGS)
IJ_FLAGS   += -D_GNU_SOURCE

IJ_LDFLAGS += $(COMMON_LDFLAGS)
IJ_LDFLAGS += -lpcontrol
IJ_LDFLAGS += -L$(DYNINST_DIR)/proccontrol/$(PLATFORM)
IJ_LDFLAGS += -lsymtabAPI
IJ_LDFLAGS += -L$(DYNINST_DIR)/symtabAPI/$(PLATFORM)

IJ_IFLAGS  += $(COMMON_IFLAGS)
IJ_IFLAGS  += -I$(DYNINST_DIR)/proccontrol/h
IJ_IFLAGS  += -I$(DYNINST_DIR)/proccontrol/src

IJA_FLAGS   += -fPIC
IJA_LDFLAGS += -ldl -shared

#=================================================
# For Agent
#=================================================

AG_DIR      = $(SP_DIR)/src/Agent
VPATH      += $(AG_DIR)

AG_FLAGS   += $(COMMON_FLAGS)
AG_FLAGS   += -fPIC -Dos_linux -O0

AG_LDFLAGS += $(COMMON_LDFLAGS)
AG_LDFLAGS += -lpatchAPI
AG_LDFLAGS += -L$(DYNINST_DIR)/patchAPI/$(PLATFORM)
AG_LDFLAGS += -lstackwalk
AG_LDFLAGS += -L$(DYNINST_DIR)/stackwalk/$(PLATFORM)
AG_LDFLAGS +=  -shared

AG_IFLAGS  += $(COMMON_IFLAGS)
AG_IFLAGS  += -I$(DYNINST_DIR)/patchAPI/h
AG_IFLAGS  += -I$(DYNINST_DIR)/parseAPI/h
AG_IFLAGS  += -I$(DYNINST_DIR)/instructionAPI/h
AG_IFLAGS  += -I$(DYNINST_DIR)/stackwalk/h

#=================================================
# For SpServer
#=================================================

SERVER_DIR      = $(SP_DIR)/src/SpServer

SERVER_FLAGS   += $(COMMON_FLAGS)
SERVER_FLAGS   += -D_GNU_SOURCE

SERVER_LDFLAGS += $(COMMON_LDFLAGS)
SERVER_LDFLAGS += -lpcontrol
SERVER_LDFLAGS += -L$(DYNINST_DIR)/proccontrol/$(PLATFORM)
SERVER_LDFLAGS += -lsymtabAPI
SERVER_LDFLAGS += -L$(DYNINST_DIR)/symtabAPI/$(PLATFORM)

SERVER_IFLAGS  += $(COMMON_IFLAGS)
SERVER_IFLAGS  += -I$(DYNINST_DIR)/proccontrol/h
SERVER_IFLAGS  += -I$(DYNINST_DIR)/proccontrol/src
